@import "variables.scss";
@import "utils.scss";
@import "data-table.scss";
@import "tinymce.scss";
@import "prism.css";

* {
    box-sizing: border-box;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html,
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    min-height: 100vh;
}

// Who knows why ion-icon randomally sets this to hidden.....
ion-icon {
    visibility: visible;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,
a:visited {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.1s, underline 0.1s;

    &:hover {
        color: $primary-color-dark;
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
    font-weight: 800;
}

p {
    line-height: 1.5rem;
    margin-top: 0;
}

// input,
// select,
// textarea {
//     box-sizing: border-box;
//     display: block;
//     width: 100%;
//     border: 1px solid $border-color;
//     border-radius: 12px;
//     padding: map-get($spacer, 2) map-get($spacer, 3);
//     color: $font-color;
//     margin-bottom: map-get($spacer, 4);

//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

// textarea {
//     resize: none;
// }

select {
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 24px 18px;
}

.input-file-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 12px;

    input {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        margin-left: -9999px;
    }

    label.button {
        margin-right: map-get($spacer, 4);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
        height: 3rem;
        width: auto;
    }

    .file-name {
        display: block;
        border: 1px solid $border-color;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        flex: 1;
        height: 3rem;
        background-color: #fff;
        line-height: 3rem;
        padding: 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

code {
    display: block;
    font-size: 0.8rem;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    overflow-x: auto;
    max-height: 30rem;
    margin-bottom: 1rem;
}

/* Page Errors */
.page-error {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: map-get($spacer, 5);
    min-height: 50vh;

    .image {
        flex: 1;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: map-get($spacer, 2);
        margin-right: map-get($spacer, 2);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin-left: map-get($spacer, 2);
        margin-right: map-get($spacer, 2);
        margin-bottom: 0;

        h1 {
            text-align: left;
            margin-bottom: map-get($spacer, 1);
        }

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .not-found {
        flex-direction: column-reverse;

        .content {
            flex: 0;
            margin-bottom: map-get($spacer, 5);

            align-items: center;
            h1 {
                margin-top: 0;
            }
        }
    }
}
