@import "variables.scss";
@import "utils.scss";
@import "tinymce.scss";
@import "prism.css";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: auto;
}

html,
body {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    background-color: var(--base-color);
    color: var(--base-color-text);
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: var(--base-shadow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    color: var(--header-color-text);
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: var(--header-font-size-#{$i});
        margin-bottom: #{calc(var(--header-font-size-#{$i}) / 2)};
    }
}

a,
a:visited {
    color: var(--link-color);
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--primary-color-light);

    &:hover {
        filter: brightness(115%);
    }
}

p,
li,
.html {
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

p {
    margin: #{map-get($spacing, 5)} 0;
}

li {
    margin-bottom: #{map-get($spacing, 1)};

    & + ul {
        margin-top: -#{map-get($spacing, 1)};
    }
}

code {
    display: block;
    font-size: 80%;
    background-color: var(--base-color);
    padding: #{map-get($spacing, 3)};
    border: 1px solid var(--base-color-border);
    white-space: pre-wrap;
    overflow-x: auto;
    max-height: #{calc(map-get($spacing, 7) * 12)};
    margin-bottom: #{map-get($spacing, 3)};
}

/* SM Dialog */
.dialog-outer {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: #{map-get($spacing, 2)};
}

.dialog-outer:last-of-type {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
