@import "variables.scss";
@import "utils.scss";
@import "data-table.scss";
@import "tinymce.scss";
@import "prism.css";

* {
    box-sizing: border-box;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html,
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    min-height: 100vh;
}

// Who knows why ion-icon randomally sets this to hidden.....
ion-icon {
    visibility: visible;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a,
a:visited {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.1s, underline 0.1s;

    &:hover {
        color: $primary-color-dark;
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
    font-weight: 800;
}

p {
    line-height: 1.5rem;
    margin-top: 0;
}

code {
    display: block;
    font-size: 0.8rem;
    background-color: #eee;
    padding: 1rem;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    overflow-x: auto;
    max-height: 30rem;
    margin-bottom: 1rem;
}

/* Page Errors */
.sm-page-error {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: map-get($spacer, 5);
    min-height: 50vh;

    .image {
        flex: 1;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: map-get($spacer, 2);
        margin-right: map-get($spacer, 2);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin-left: map-get($spacer, 2);
        margin-right: map-get($spacer, 2);
        margin-bottom: 0;

        h1 {
            text-align: left;
            margin-bottom: map-get($spacer, 1);
        }

        p {
            margin: 0;
        }
    }
}
